/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2,
h3 {
  color: #d9534f;
  text-align: center;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  color: #333;
}

table tfoot th {
  background-color: #d9534f;
  color: white;
}

ol,
ul {
  padding-left: 40px;
}

img,
video,
iframe {
  display: block;
  margin: 10px auto;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input,
form select,
form textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 20px;
  align-self: flex-start;
}

form input[type="submit"]:hover {
  background-color: #4cae4c;
}

mark {
  background-color: #fcf8e3;
}

audio,
video {
  max-width: 100%;
}

iframe {
  border: none;
  max-width: 100%;
}

a[target="_blank"]:after {
  content: " 🔗";
}

div#perisa {
  background-color: #fef7f7;
  border-left: 5px solid #d9534f;
  padding-left: 15px;
}

/* Style to align checkboxes and labels in one line */
form input[type="checkbox"] {
  margin-right: 5px; /* Add space between checkbox and label */
}

form h3 + input[type="checkbox"],
form h3 + label,
form input[type="checkbox"] + label {
  display: inline-block; /* Display checkboxes and labels inline */
  margin-right: 15px; /* Add spacing between each checkbox and label pair */
}
